#about
  .container
    .row
      .col-xs-12.col-md-6
        .about-img
          img.img-responsive(src='img/about.jpg', alt='')
      .col-xs-12.col-md-6
        .about-text
          h2 Our Restaurant
          hr
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.
          h3 Awarded Chefs
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.
