#team.text-center
  .overlay
    .container
      .col-md-10.col-md-offset-1.section-title
        h2 Meet Our Chefs
        hr
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.
      #row
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/01.jpg', alt='...')
            .caption
              h3 Mike Doe
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/02.jpg', alt='...')
            .caption
              h3 Chris Doe
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/03.jpg', alt='...')
            .caption
              h3 Ethan Doe
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
// Call Reservation Section
#call-reservation.text-center
  .container
    h2
      | Want to make a reservation? Call 
      strong 1-887-654-3210
