#team.text-center
  .overlay
    .container
      .col-md-10.col-md-offset-1.section-title
        //- h2 हमारी टीमों से मिलें
        //- hr
        //- p हमारी टीम अद्भुत है |
      #row
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/IMG_0039.jpg', alt='...')
            .caption
              h3 Ranvijay Singh
              p
                | Businessman | Public Figure.
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/DSC_7086.jpg', alt='...')
            .caption
              h3 Dr. Sanjay Singh Gautam
              p
                | Teacher's and Public Figure
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/GuruPrasad.jpg', alt='...')
            .caption
              h3 Professor Guru Prasad Singh
              p
                | BHU.
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/DSC_7257.jpg', alt='...')
            .caption
              h3 Rahul Singh
              p
                | Manager at Swami Atulanand Hindu Mahavidyalaya
        .col-md-4.team
          .thumbnail
            .team-img
              img(src='img/team/binsenji.jpg', alt='...')
            .caption
              h3 Hari Narayan Singh Bisen
              p
                | CA.
// Call Reservation Section
#call-reservation.text-center
  .container
    h2
      | अगर आप हमसे जुड़ना चाहते हैं तो कृपया हमें यहां कॉल करें 
      strong +919793902200
