#portfolio
  .section-title.text-center.center
    .overlay
      h2 Gallery
      hr
      p क्षत्रिय धर्म संसद की तस्वीरें हमारे बारे में जानने में मदद कर सकती हैं |
  .container
    .row
      .categories
        ul.cat
          li
            ol.type
              //- li
              //-   a.active(href='#', data-filter='*') All
              //- li
              //-   a(href='#', data-filter='.breakfast') Breakfast
              //- li
              //-   a(href='#', data-filter='.lunch') Lunch
              //- li
              //-   a(href='#', data-filter='.dinner') Dinner
        .clearfix
    .row
      .portfolio-items
        .col-sm-6.col-md-4.col-lg-4.breakfast
          .portfolio-item
            .hover-bg
              a(href='img/portfolio/DSC_6981.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
                .hover-text
                  h4 ज़ूम
                img.img-responsive(src='img/portfolio/DSC_6999.jpg', alt='Project Title')
        .col-sm-6.col-md-4.col-lg-4.dinner
          .portfolio-item
            .hover-bg
              a(href='img/portfolio/DSC_7084.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
                .hover-text
                  h4 ज़ूम
                //- img.img-responsive(src='img/portfolio/02-small.jpg', alt='Project Title')
        .col-sm-6.col-md-4.col-lg-4.breakfast
          .portfolio-item
            .hover-bg
              a(href='img/portfolio/IMG_9870.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
                .hover-text
                  h4 ज़ूम
                img.img-responsive(src='img/portfolio/DSC_7242.jpg', alt='Project Title')
        .col-sm-6.col-md-4.col-lg-4.breakfast
          .portfolio-item
            .hover-bg
              a(href='img/portfolio/DSC_7182.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
                .hover-text
                  h4 ज़ूम
                img.img-responsive(src='img/portfolio/IMG_0153.jpg', alt='Project Title')
        .col-sm-6.col-md-4.col-lg-4.dinner
          .portfolio-item
            .hover-bg
              a(href='img/portfolio/DSC_7339.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
                .hover-text
                  h4 ज़ूम
                img.img-responsive(src='img/portfolio/DSC_7317.jpg', alt='Project Title')
        .col-sm-6.col-md-4.col-lg-4.lunch
          .portfolio-item
            .hover-bg
              a(href='img/portfolio/IMG_0165.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
                .hover-text
                  h4 ज़ूम
        //-         img.img-responsive(src='img/portfolio/06-small.jpg', alt='Project Title')
        //- .col-sm-6.col-md-4.col-lg-4.lunch
        //-   .portfolio-item
        //-     .hover-bg
        //-       a(href='img/portfolio/07-large.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
        //-         .hover-text
        //-           h4 ज़ूम
        //-         img.img-responsive(src='img/portfolio/07-small.jpg', alt='Project Title')
        //- .col-sm-6.col-md-4.col-lg-4.breakfast
        //-   .portfolio-item
        //-     .hover-bg
        //-       a(href='img/portfolio/08-large.jpg', title='ज़ूम', data-lightbox-gallery='gallery1')
        //-         .hover-text
        //-           h4 ज़ूम
        //-         img.img-responsive(src='img/portfolio/08-small.jpg', alt='Project Title')
        //- .col-sm-6.col-md-4.col-lg-4.dinner
        //-   .portfolio-item
        //-     .hover-bg
        //-       a(href='img/portfolio/09-large.jpg', title='View', data-lightbox-gallery='gallery1')
        //-         .hover-text
        //-           h4 View
        //-         img.img-responsive(src='img/portfolio/09-small.jpg', alt='Project Title')
        //- .col-sm-6.col-md-4.col-lg-4.lunch
        //-   .portfolio-item
        //-     .hover-bg
        //-       a(href='img/portfolio/10-large.jpg', title='View', data-lightbox-gallery='gallery1')
        //-         .hover-text
        //-           h4 View
        //-         img.img-responsive(src='img/portfolio/10-small.jpg', alt='Project Title')
        //- .col-sm-6.col-md-4.col-lg-4.lunch
        //-   .portfolio-item
        //-     .hover-bg
        //-       a(href='img/portfolio/11-large.jpg', title='View', data-lightbox-gallery='gallery1')
        //-         .hover-text
        //-           h4 View
        //-         img.img-responsive(src='img/portfolio/11-small.jpg', alt='Project Title')
        //- .col-sm-6.col-md-4.col-lg-4.breakfast
        //-   .portfolio-item
        //-     .hover-bg
        //-       a(href='img/portfolio/12-large.jpg', title='View', data-lightbox-gallery='gallery1')
        //-         .hover-text
        //-           h4 View
        //-         img.img-responsive(src='img/portfolio/12-small.jpg', alt='Project Title')
