//
  Navigation
  ==========================================
nav#menu.navbar.navbar-default.navbar-static-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll(href='#page-top') क्षत्रिय धर्म संसद
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.page-scroll(href='#about') About
        li
          a.page-scroll(href='#portfolio') Gallery
        li
          a.page-scroll(href='#team') Teams
        li
          a.page-scroll(href='#call-reservation') Contact
    // /.navbar-collapse
    header#header
  .intro
    .overlay
      .container
        .row
          .intro-text
            h1 क्षत्रिय धर्म संसद काशी
            p राष्ट्रवाद / सामाजिक / राजनैतिक / आर्थिक / सेवा 
            a.btn.btn-custom.btn-lg.page-scroll(href='#about') अन्य जानकारी
