#restaurant-menu
  .section-title.text-center.center
    .overlay
      h2 Menu
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.
  .container
    .row
      .col-xs-12.col-sm-6
        .menu-section
          h2.menu-section-title Breakfast & Starters
          hr
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $35 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
      .col-xs-12.col-sm-6
        .menu-section
          h2.menu-section-title Main Course
          hr
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $45 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
    .row
      .col-xs-12.col-sm-6
        .menu-section
          h2.menu-section-title Dinner
          hr
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $45 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $350 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam..
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
      .col-xs-12.col-sm-6
        .menu-section
          h2.menu-section-title Coffee & Drinks
          hr
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $35 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
          .menu-item
            .menu-item-name  Delicious Dish 
            .menu-item-price  $30 
            .menu-item-description
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
